In [71]:
import pandas as pd
import numpy as np

In [72]:
df = pd.read_excel("credit_card_clients.xls", header=1, index_col="ID")

In [73]:
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  int64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_0                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  int64
 12  BILL_AMT2                   30000 non-null  int64
 13  BILL_AMT3                   30000 non-null  int64
 14  BILL_AMT4                   30000 non-null  int64
 15  BILL_AMT5                   30000 non-null  int64
 16  BILL_AMT6                   30000 non-null  int64
 17  PAY_AMT1                    30000 non-null  int64
 18  PAY_AMT2                    30000 non-null  int64
 19  PAY_AMT3                    30000 non-null  int64
 20  PAY_AMT4                    30000 non-null  int64
 21  PAY_AMT5                    30000 non-null  int64
 22  PAY_AMT6                    30000 non-null  int64
 23  default payment next month  30000 non-null  int64
dtypes: int64(24)
memory usage: 5.7 MB

In [75]:
num_cols = [
    "LIMIT_BAL", 
    "AGE", 
    "BILL_AMT1","BILL_AMT2","BILL_AMT3","BILL_AMT4","BILL_AMT5","BILL_AMT6",
    "PAY_AMT1","PAY_AMT2","PAY_AMT3","PAY_AMT4","PAY_AMT5","PAY_AMT6",
]

In [76]:
cat_cols = [
    "SEX",
    "EDUCATION",
    "MARRIAGE",
    "PAY_0","PAY_2","PAY_3","PAY_4","PAY_5","PAY_6",
]

In [77]:
def treat_categorical(cat_cols, df):
    for c in cat_cols:
        df = df.join(pd.get_dummies(df[c], prefix=c, dtype=int, drop_first=True))
    df.drop(cat_cols, axis=1, inplace=True)
    return df

In [78]:
df = treat_categorical(cat_cols, df)

In [79]:
df

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,PAY_5_8,PAY_6_-1,PAY_6_0,PAY_6_2,PAY_6_3,PAY_6_4,PAY_6_5,PAY_6_6,PAY_6_7,PAY_6_8
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,24,3913,3102,689,0,0,0,0,689,...,0,0,0,0,0,0,0,0,0,0
2,120000,26,2682,1725,2682,3272,3455,3261,0,1000,...,0,0,0,1,0,0,0,0,0,0
3,90000,34,29239,14027,13559,14331,14948,15549,1518,1500,...,0,0,1,0,0,0,0,0,0,0
4,50000,37,46990,48233,49291,28314,28959,29547,2000,2019,...,0,0,1,0,0,0,0,0,0,0
5,50000,57,8617,5670,35835,20940,19146,19131,2000,36681,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29996,220000,39,188948,192815,208365,88004,31237,15980,8500,20000,...,0,0,1,0,0,0,0,0,0,0
29997,150000,43,1683,1828,3502,8979,5190,0,1837,3526,...,0,0,1,0,0,0,0,0,0,0
29998,30000,37,3565,3356,2758,20878,20582,19357,0,0,...,0,0,1,0,0,0,0,0,0,0
29999,80000,41,-1645,78379,76304,52774,11855,48944,85900,3409,...,0,1,0,0,0,0,0,0,0,0
30000,50000,46,47929,48905,49764,36535,32428,15313,2078,1800,...,0,0,1,0,0,0,0,0,0,0

separação para treino

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
y = df["default payment next month"]
X = df.drop(["default payment next month"], axis=1)

In [82]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=42)

normalização

In [83]:
from sklearn.preprocessing import MinMaxScaler

In [84]:
scaler = MinMaxScaler()
scaler.fit(X_train[num_cols])
X_train[num_cols] = scaler.transform(X_train[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

PCA

In [85]:
from sklearn.decomposition import PCA

In [86]:
pca=PCA(n_components=len(X_train.columns))

In [87]:
X_pca = PCA(n_components=3, random_state=42).fit_transform(X)

In [88]:
X.shape

(30000, 82)

In [89]:
import matplotlib.pyplot as plt

In [90]:
#fig = plt.figure(figsize=(20, 10))
#ax = fig.add_subplot(projection='3d')
#ax.scatter(X_lsa_3d[:,0], X_lsa_3d[:,1], X_lsa_3d[:,2], marker='o')
#ax.set_xlabel('PC 1')
#ax.set_ylabel('PC 2')
#ax.set_zlabel('PC 3')

plt.show()

treino

In [91]:
import tensorflow as tf

In [92]:
model = tf.keras.Sequential([
    tf.keras.layers.Flatten(input_shape=(len(X_train.columns), 1)),
    tf.keras.layers.Dense(4*len(X_train.columns), activation="relu"),
    tf.keras.layers.Dropout(0.2),
    tf.keras.layers.Dense(int(len(X_train.columns)/10))
])

/Users/bernardorusso/Documents/GitHub/pos-grad-tcc-study/.venv/lib/python3.11/site-packages/keras/src/layers/reshaping/flatten.py:37: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(**kwargs)

In [93]:
predictions = model(X_train[:1]).numpy()
predictions

array([[ 0.13482028,  0.05172451,  0.10154478,  0.11174615,  0.04772206,
        -0.25985163,  0.02800624,  0.03672671]], dtype=float32)

In [94]:
tf.nn.softmax(predictions).numpy()

array([[0.13773212, 0.12674977, 0.13322443, 0.13459045, 0.12624347,
        0.09281782, 0.12377886, 0.12486299]], dtype=float32)

In [95]:
loss_fn = tf.keras.losses.SparseCategoricalCrossentropy(from_logits=True)

In [96]:
loss_fn(y_train[:1], predictions).numpy()

2.0655403

In [97]:
model.compile(
    optimizer="adam",
    loss=loss_fn,
    metrics=["accuracy"]
)

In [98]:
model.fit(X_train, y_train, epochs=5)

Epoch 1/5

657/657 ━━━━━━━━━━━━━━━━━━━━ 1s 367us/step - accuracy: 0.7929 - loss: 0.5983
Epoch 2/5
657/657 ━━━━━━━━━━━━━━━━━━━━ 0s 343us/step - accuracy: 0.8198 - loss: 0.4373
Epoch 3/5
657/657 ━━━━━━━━━━━━━━━━━━━━ 0s 357us/step - accuracy: 0.8243 - loss: 0.4330
Epoch 4/5
657/657 ━━━━━━━━━━━━━━━━━━━━ 0s 353us/step - accuracy: 0.8224 - loss: 0.4333
Epoch 5/5
657/657 ━━━━━━━━━━━━━━━━━━━━ 0s 340us/step - accuracy: 0.8205 - loss: 0.4341

In [99]:
model.evaluate(X_test,  y_test, verbose=2)

282/282 - 0s - 338us/step - accuracy: 0.8206 - loss: 0.4382

[0.438223272562027, 0.820555567741394]